<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncFixer" version="1.1.6" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.ApiDesignGuidelines.Analyzers" version="1.2.0-beta2" targetFramework="net46" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="Semver" version="2.0.4" targetFramework="net46" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Collections.Immutable" version="1.6.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Composition" version="1.3.0" targetFramework="net46" />
  <package id="System.Composition.AttributedModel" version="1.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Composition.Convention" version="1.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Composition.Hosting" version="1.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Composition.Runtime" version="1.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Composition.TypedParts" version="1.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.3" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.Analyzers" version="1.2.0-beta2" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.2.0-beta2" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
</packages>