<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.TaskScheduler" publicKeyToken="e25603a88b3aa7da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.1.0" newVersion="2.10.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>