<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HolzShots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HolzShots.Properties.Settings>
            <setting name="ArrowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArrowColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BlurFactor" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BrightenFactor" serializeAs="String">
                <value>0</value>
            </setting>
        </HolzShots.Properties.Settings>
    </userSettings>
</configuration>