<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HolzShots.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <HolzShots.My.MySettings>
      <setting name="HighlightMouse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCursor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighlightColor" serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="ColorAlpha" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="ZensursulaWidth" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MarkerWidth" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="EnableIngameMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZensursulaColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MarkerColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EraserDiameter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="EnableStatusToaster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EllipseColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="EllipseWidth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BrightenColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="EnableWindowScreenshot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableFullscreenScreenshot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAreaScreenshot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFileNameDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ArrowColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ArrowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoCloseLinkViewer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChangeAeroMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Upgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseBoxInsteadOfCirlce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultImageHoster" serializeAs="String">
        <value>DirectUpload.net</value>
      </setting>
      <setting name="BlurFactor" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="EnableLinkViewer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserTasksInitialized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableShotEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScreenshotPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="SaveImagesToLocalDisk" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveImagesPattern" serializeAs="String">
        <value>&lt;File:SequenceNumber&gt;</value>
      </setting>
      <setting name="FileSequenceNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrayIconDoubleClickAction" serializeAs="String">
        <value>OpenSettings</value>
      </setting>
      <setting name="SelectionDecoration" serializeAs="String">
        <value>Nomination1</value>
      </setting>
      <setting name="EnableSmartFormatForUpload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSmartFormatForSaving" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCloseShotEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCopyConfimation" serializeAs="String">
        <value>False</value>
      </setting>
    </HolzShots.My.MySettings>
  </userSettings>
  <startup>

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
